#mytopnav{
    text-align:center;
}
.topnav {
    background-color: #e3e3e3;
    overflow: hidden;
    font-family: "times new roman";
    
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 6px 26px;
    text-decoration: none;
    font-size: 14px;
    
}

/* Change the color of links on hover */
.topnav a:hover {
    color: darkgray;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
body{
    background-color:#f5f5f4;
}
.graybg{
    padding-top: 10px;
    background-color:#e3e3e3;
    height: 160px;
    width:100%;
    font-family: inherit;
}
.graybg a:hover{
    color:black;
}
.graybg a.active{
    color:black;
}
.graybg a{
    color:black;
}
img {
    display: block;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
}
h3.quotes{
    font-family: serif;
    text-indent: 5px;
}
h2{
    font-family: Georgia;
}
p.VI{
    font-size: 80px;
     -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    padding-left: 30px;
}
h3.quote2{
    font-family: arial;
    text-indent: 5px;
}
h3.quote3{
    font-size:30px;
    font-family:serif;
}
