/*///////////////////////////////////////*/
/*///////////////////////////////////////*/
/*///////////////////////////////////////*/
/*Mobile Design*/
@media only screen and (max-width: 768px) {
#mytopnav{
    text-align:left;
}
.topnav {
    background-color: #e3e3e3;
    overflow: hidden;
    font-family: "times new roman";
    
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: left;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 16px;
    font-family: "times new roman";
    
}

/* Change the color of links on hover */
.topnav a:hover {
    color: darkgray;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
body{
    background-color:#f5f5f4;
}
.graybg a:hover{
    color:black;
}
.graybg a.active{
    color:black;
}
.graybg a{
    color:black;
}
h3.quotes{
    font-family: serif;
    text-indent: 5px;
}
h2{
    font-family: Georgia;
}
h3.quote2{
    font-family: arial;
    text-indent: 5px;
}
h3.quote3{
    font-size:30px;
    font-family:serif;
}

  /*footer */
div.graybg{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#e3e3e3;
    height: auto;
    width:100%;
    font-family: inherit;
}
p.VI{
    font-size: 80px;
     -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    padding-left: 30px;
}
img.shoe {
    height: 300px;
    width:250px;
    text-align: left;
    align-content: left;
}
    }

/*///////////////////////////////////////*/
/*///////////////////////////////////////*/
/*///////////////////////////////////////*/
/*Desktop Design*/
@media only screen and (min-width: 768px) {
#mytopnav{
    text-align:center;
}
.topnav {
    background-color: #e3e3e3;
    overflow: hidden;
    font-family: "times new roman";
    padding-top: 5px;
    padding-bottom: 5px;
    
}

/* Style the links inside the navigation bar */
.topnav a {
    float: center;
    display: inline;
    color: black;
    text-align: center;
    padding: 6px 26px;
    text-decoration: none;
    font-size: 16px;
    
}

/* Change the color of links on hover */
.topnav a:hover {
    color: darkgray;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
body{
    background-color:#f5f5f4;
}

/*footer */
.graybg{
    padding-top: 10px;
    background-color:#e3e3e3;
    height: 150px;
    width:100%;
    font-family: inherit;
}
.graybg a:hover{
    color:black;
}
.graybg a.active{
    color:black;
}
.graybg a{
    color:black;
}
img.shoe{
    display: block;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
    width:100%;
    height: auto;
}
h3.quotes{
    font-family: serif;
    text-indent: 5px;
}
h2{
    font-family: Georgia;
}
h2.title{
        font-family: "times new roman";
        font-size: 36px;
    }
p.VI{
    font-size: 80px;
     -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    padding-left: 30px;
}
h3.quote2{
    font-family: arial;
    text-indent: 5px;
}
h3.quote3{
    font-size:30px;
    font-family:serif;
}
}
